<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>

    <!-- including other links  -->
    <%- include('./../../Partion/linkTags.ejs')%>

    <!-- css link  -->
    <link rel="stylesheet" href="/Styles/Large_Screens/header.css">
    <link rel="stylesheet" href="/Styles/Large_Screens/footer.css">

</head>

<body>

    <!-- header  -->
    <%- include('./../../Partion/header')%>

    <div class="container-fluid ">
        <div class="row">
            <!-- side bar  -->
            <%- include('./admin-sideBar.ejs')%>
            <div class="col-lg-9 col-md-9 col-sm-9">

                <!-- content goes here  -->
                <h3 class="m-3" style="user-select: none;">Update a Blog </h3>

            </div>
        </div>
    </div>
    <!-- dynamic footer  -->
    <%- include('./../../Partion/footer.ejs')%>

    <!-- including bootstrap scripts  -->
    <%- include('./../../Partion/BootstrapScripts') %>

</body>

</html>