<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>

    <!-- including other links  -->
    <%- include('../Partion/linkTags.ejs')%>

    <!-- css link  -->
    <link rel="stylesheet" href="/Styles/Large_Screens/header.css" />
    <link rel="stylesheet" href="/Styles/Large_Screens/admin/admin.css" />
    <link rel="stylesheet" href="/Styles/Large_Screens/footer.css" />
  </head>

  <body>
    <!-- header  -->
    <%- include('../Partion/header')%>

    <div class="Container">
      <!-- side bar  -->
      <%- include('./admin-sideBar.ejs')%>

      <div class="conatiner-body">
        <h3 class="m-3" style="user-select: none;">Welcome Admin</h3>
      </div>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <!-- dynamic footer  -->
    <%- include('../Partion/footer.ejs')%>

    <!-- including bootstrap scripts  -->
    <%- include('../Partion/BootstrapScripts') %>
  </body>
</html>
