<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title%></title>

    <!-- including other links  -->
    <%- include('../Partion/linkTags.ejs')%>

    <!-- css link  -->
    <link rel="stylesheet" href="/Styles/Large_Screens/header.css">
    <link rel="stylesheet" href="/Styles/Large_Screens/footer.css">
</head>

<body>
    <!-- header  -->
    <%- include('../Partion/header')%>

    <!-- front image  -->
    <div class=" w-100 h-100 bg-dark">
        <img src="/Images/TextExpander-Blog-Images-4-1200x600.png" alt="" class="img-fluid  w-100 h-100"
            style="filter:grayscale(90);">
    </div>

    <div class="container-fluid">
        <div class="row my-4 mx-3">
            <div class="col">
                <h1 class="text-center" style="user-select: none;font-family: 'Roboto', serif;"><%- category %></h1>
                <hr>
            </div>
        </div>
    
        <!-- looping through all the blogs of a category  -->
        <% blogsList.forEach(blog => { %>

        <div class="row mx-3 mb-4">
            <div class="col">
                <div class="row bg-light">
                    <!-- blog image  -->
                    <div class="col-lg-4 col-md-4 my-2 d-flex justify-content-center align-items-center">
                        <img src="/<%= blog.image %> " class="img-fluid" style="width: inherit; max-height: 280px;" alt="">
                    </div>
                    <!-- blog TITLE and BODY -->
                    <div class="col-lg-8 col-md-8 d-flex flex-column">
                        <div class="row d-flex flex-column">
                            <div class="col-sm m-2 ">
                                <h4 style="user-select: none;" style="width: inherit;font-family: 'Playfair Display', serif;"> <%- blog.title %> </h4>
                                <hr>
                            </div>
                            <div class="col-sm mx-2">
                                <p
                                    style="user-select: none; display: -webkit-box;-webkit-line-clamp: 8;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;">
                                    <%- blog.body.substring(0, 800)+'...' %> <a href="<%= blog.id%>">read more</a>
                                </p>                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <% }); %>
    </div>

    <br><br><br><br>
    <!-- dynamic footer  -->
    <%- include('../Partion/footer.ejs')%>


    <!-- including bootstrap scripts  -->
    <%- include('../Partion/BootstrapScripts') %>
</body>

</html>