<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title%></title>

    <!-- including other links  -->
    <%- include('../Partion/linkTags.ejs')%>

    <!-- css link  -->
    <link rel="stylesheet" href="/Styles/Large_Screens/header.css">
    <link rel="stylesheet" href="/Styles/Large_Screens/footer.css">

</head>

<body>

    <!-- header  -->
    <%- include('../Partion/header')%>

    <!-- front image  -->
    <div class=" w-100 h-100 bg-dark">
        <img src="/Images/TextExpander-Blog-Images-4-1200x600.png" alt="" class="img-fluid  w-100 h-100"
            style="filter:grayscale(90);">
    </div>


    <!-- rest of the front page  -->
    <div class="container p-3">
        <h1 class="text-center" style="user-select: none;  font-family: 'Roboto', sans-serif;">Latest Blogs</h1>
    </div>

    <div class=" container ">

        <!-- looping through the catgories list and displaying card for each catrgory  -->
        <% blogsPerCategory.map((categoryContent) => { %>

        <%- include('../Partion/blogCard',{categoryContent:categoryContent}) %>
        <%}) %>

    </div>


    <!--  footer  -->
    <%- include('../Partion/footer.ejs') %>

    <!-- including bootstrap scripts  -->
    <%- include('../Partion/BootstrapScripts') %>

</body>

</html>